//Common variable declarations
$font-color: #3e3e3e;
$bg-color-left: #ddc5c5;
$bg-color-middle: #58c3d5;
$bg-color-right: #c3c3c3;
$button-color: #e7b4b4;
$secondary-bg-clr: #ffffff;
$input-color: #000000;